# --- فایل‌های سیستمی و بیلد (آشغال‌های ویژوال استودیو) ---
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.userprefs

# --- فایل‌های حساس و شخصی (امنیتی) ---
# این خیلی مهمه مهران! کانفیگ‌های شخصیت نباید بره تو گیت
configs.txt
derafsh_debug.txt

# --- فایل‌های حجیم موتور Xray (نباید آپلود بشن) ---
# ما فقط ساختار پوشه Core رو میخوایم، نه فایل‌های دانلودی توش رو
# چون هر کی پروژه رو کلون کنه، خودش باید اینا رو دانلود کنه یا بیلد اسکریپت بذاریم
Core/xray.exe
Core/geoip.dat
Core/geosite.dat
Core/xray_log.txt

# --- فایل‌های لاگ ویندوز ---
*.log
thumbs.db